body{
    background-image:url(Images/background.png);
    align-items: center;
    width: 900px;
    margin-right: auto;
    margin-left: auto;
}

#container{
    width:900px;
    display:block;
    margin-right: auto;
    margin-left: auto;
    background-color: #E5AA99;
}
h1{
    font-size:200%;
    color: #FFFFFF;
    text-align: center;
    padding:none;
}
h2, caption{
    font-size:150%;
    color:#FFFFFF;
    text-align: center;
}
h3, h4{
    font-size:125%;
    color:#AA5239;
}
p, li{
    font-size:90%;
    color:#340C00;
    font-weight: bold;
}
a:link{
    color:#ffffff
}
a:hover{
    color:#340C00;
}
a:visited{
    color:#ffbcaa;
}
.middle{
    display: block;
    margin-left:auto;
    margin-right:auto;
    width:50%;
}
th{
    background-color:#AA5239;
    color:#FFFFFF
}
td{
    background-color:#E5AA99;
    color:#340C00;
}
table,th,td{
    border-color:#340C00;
    border: 1px solid;
    margin-right: auto;
    margin-left: auto;
}
.center{
    width:500px;
    margin:auto;
}

header {
    width: 900px;


}
nav{
    display:flex;
    flex-direction:row-reverse;
    background-color:#AA5239;
    margin-right: auto;
    margin-left: auto;
}
nav ul li{
    list-style-type:none;
    padding-top:0;
}
nav ul li a:hover{
    list-style-type:none;
    color:white;
}
section{
    width:900px;
    background-image: url(Images/Background.png);
    background-repeat:repeat-y;
}

article{
    width:900px;
}

map{
    display:inline;
}
ul{
    list-style: none;
}
input{
    margin:5px;
    
}
section a{
    background-color:#AA5239; 
}
.smaller{
    font-size:150%;
    margin:none;
    padding:none;
}
.smallest{
    font-size:70%;
    margin:none;
    padding:none;
}
legend, fieldset{
    color:#340C00;
}
fieldset{
    background-color: #f1c5b9;
    margin:10px;
}
input{
    color:#340C00;
}